* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  nav {
    background-color: #2ec4b6;
    color: #fdfffc;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60%;
        grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
            column-gap: 10%;
    padding: 0% 3%;
  }
  p{
    font-family: 'Roboto Mono', monospace;
    font-size:18px;
    margin-bottom:5px;
  }
  .slider{
    margin :5px;
    margin-top:2px;  
    padding: 4px;

  }
  nav .array-inputs {
    display: block;
    margin-top:7px;
  }
  
  #a_generate {
    background: transparent;
  color: white;
  border: 2px solid white;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 18px 45px;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  margin: 5px 5px 15px 5px;
/* animate and time the transitions*/
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  }
  
  #a_generate:hover {
    cursor: pointer;
    background-color: #fdfffc;
    border-color:white;
    color: #2ec4b6;
    -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  }
  
  input[type=range] {
  height: 16px;
  -webkit-appearance: none;
  width: 83%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px white;
  background: #B6B6B6;
  border-radius: 20px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 16px;
  width: 24px;
  border-radius: 3px;
  background: #DADADA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
}

  nav .header_right {
    margin-left: -50px;
  }
  
  nav .header_right .nav-heading {
    font-size:36px;
    line-height: 42px;
    margin: 1em 1em 0.5em 4em;
    text-shadow: 0 1px white, 0 4px #777;
  }
  
  nav .header_right .algos button {

    background: transparent;
    color: white;
    border: 2px solid white;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 10px 30px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin-right: 7px;
    margin-top:15px;
/* animate and time the transitions*/
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  nav .header_right .algos button:hover {
    cursor: pointer;
    background-color: #fdfffc;
    border-color:white;
    color: #2ec4b6;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  nav .header_right .algos .butt_locked {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_locked:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_selected {
    background-color: white;
    color: #2ec4b6;
  }
  
  nav .header_right .algos .butt_selected:hover {
    background-color: white;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_unselected:hover {
    background-color: white;
    cursor: pointer;
  }
  
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  
  section #Info_Cont1 {
    padding: 20%;
  }
  
  section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
  }
  
  section #Info_Cont2 {
    padding: 20%;
  }
  
  .hide {
    display: none;
  }